<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-6 col-md-6 col-lg-3 mb-2">
				<h6 class="text-uppercase">Copyright</h6>
				<ul class="nav flex-column">
					<li><a class="text-white" target="ext" rel="nofollow" href="https://sagleft.ru" title="Developed by Sagleft">Developed by Sagleft</a></li>
				</ul>
			</div>
			<div class="col-6 col-md-6 col-lg-3 mb-2">
				<h6 class="text-uppercase">INFO</h6>
				<ul class="nav flex-column">
					<li>uAuth example v1.1</li>
				</ul>
			</div>
			<div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
				<h6 class="text-uppercase">Follow</h6>
				<ul class="nav float-right">
					<li><a class="text-white mr-2" rel="nofollow" href="https://vk.com/utopiarus" title="Follow on VK"><i class="h1 fa fa-fw fa-twitter fa-2x ion-ios-people"></i></a></li>
					<li><a class="text-white mr-2" rel="nofollow" href="https://www.youtube.com/channel/UCrnfg-TdJxlXO3dda6BiT9g" title="Follow on Youtube"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-youtube"></i></a></li>
					<li><a class="mr" rel="nofollow" href="https://github.com/Sagleft/utopia-auth" title="View on Github"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-github"></i></a></li>
				</ul>
			</div>
		</div>
		<!--/row-->
	</div>
</footer>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
