<head>
	<meta charset="utf-8" />
	<title>{{ page.title }} | auth example</title>
	<meta name="description" content="Utopia uAuth Example" />
	<meta name="keywords" content="utopia,example,auth" />
	
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Utopia uAuth" />
	<meta property="og:title" content="uAuth Example" />
	<meta property="og:locale" content="en_EN" />
	<meta property="og:image" content="/img/preview.png" />
	<meta property="og:image:width" content="968" />
	<meta property="og:image:height" content="504" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/theme.css?v=1.3"/>
  <link rel="stylesheet" type="text/css" href="/css/ionicons.css"/>
	<link rel="stylesheet" type="text/css" href="/css/custom.css?v={{ version }}" />
	<link rel="icon" type="image/png" href="/img/favicon.png" />
</head>