<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
		<h1 class="display-4 text-primary">
			<span class="text-highlited">u</span><span class="text-highlited">A</span><span class="text-highlited">u</span><span class="text-highlited">t</span><span class="text-highlited">h</span>
			<span>example</span>
		</h1>
		<p class="lead">An example of connecting authorization on your your decentralized service using Utopia{#.<br/>The example works on PHP 7#}</p>
	</div>
</div>