<!DOCTYPE html>
<html lang="en">
	{% include 'parts/head.tmpl' %}
	<body>
		{% include 'parts/navbar.tmpl' %}
		<div class="white-wrap">
			{% include 'parts/main/promo.tmpl' %}
			<div class="container pb-4">
				<div class="row">
          <h4 class="w-100 text-center pb-2">Request created</h4>
          <center>
            <p>Authorization request created successfully.<br/>Your Utopia account will receive a uMail message.<br/>You can close this page.</p>
          </center>
				</div>
			</div>
		</div>
		{% include 'parts/footer.tmpl' %}
	</body>
</html>
